body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font: 11pt "Calibri";
}

.content {
  width: 210mm;
  min-height: 297mm;
  /* padding: 20mm; */
  margin: 10mm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#contentHeader {
  display: inline-block;
  color: white;
  background-color:#5898b8;
  padding: 0 1em;
  border-bottom: solid 6pt #1f497d;
}

#contentHeader h1,#contentHeader h2{
  text-transform: uppercase;
  margin-bottom: 0;
}

.currentFunction{
  margin-top: 0;
  font-size: 14pt;
}

header hr{
  color: transparent;
  border: solid 2pt #1f497d;
  border-radius: 2pt;
}

div#left{
  width: 70%;
  float: left;
}

.center-cropped{
  object-fit: fill; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  display: block;
  float: right;
  height: 120pt;
  width: 120pt;
  margin-top: 20pt;
  border-radius: 50%;
}

#mainContainer{
  display: flex;
  flex-direction: row;
}

/* LEFT */

#careerContent{
  width: 70%;
  padding: 1em;
}

#careerContent h3{
  margin: 2em 0 0 3em;
}

#careerContent h3:before{
  display: block;
	position: absolute;
	content: '';
	background-color: #404042;
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  background-position: center;
	width: 2.5em;
	height: 2.5em;
	margin-left: -3em;
	margin-top: -1em;
	border-radius: 50%;
} 

#careerContent h3.experience:before{
  background-image: url(imgs/experience.png);
}

#careerContent h3.training:before{
  background-image: url(imgs/training.png);
}

#careerContent h3.hobbies:before{
  background-image: url(imgs/hobbies.svg);
}
ul.careerDEtails{
  list-style-type: none;
  padding: 0;
}

.careerDetails > li:nth-child(odd) {
  background-color: #cfd7e7;
}

.careerDetails > li:nth-child(even) {
  background-color: #cfe2f3;
}

article.careerDetail{
  padding: 0 2rem 2rem 2rem;
}

.careerDetail header{
  display: flex;
  flex-direction: row;
  font-size: 8pt;
  font-weight: bold;
  padding: 0.3em;
  border-bottom:solid 3px white;
  margin-left: -2rem;
  margin-right: -2rem;
}

.careerDetail header span{
  margin-left: 3em;
}

.careerDetail h4{
  margin-top: 1em;
  text-align: center;
}

.careerDetail > ul{
  list-style-type: none;
  padding: 0; 
}

ul.detailedDesc{
  padding: 0.5em 0 0 1em;
  list-style-type: disc;
}

.careerDetail h5{
  text-decoration: underline;
  text-transform: capitalize;
  margin: 2em 0 0 0;
}

.careerDetail p{
  margin-top: 0.5em;
}



#careerContent article{
  margin-bottom: 0.5em;
}

article.hobbies{
  background-color: #cfd7e7;
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 1em;
}


/* RIGHT */

#careerSummary{
  background-color:#5898b8;
  padding: 1em;
  flex: 1;
}

#careerSummary article{
  color: white;
  margin-bottom: 5em;
}

#careerSummary article.careerElt h3{
  display: block;
  color: #404042;
  line-height: 2em;
  background-color: white;
  margin: 0.5em -1em 1em;
}

#careerSummary article.careerElt h3 span{
  padding-left: 5em;
  padding:0.3em 0 0.3em 5em;

}


#careerSummary article.careerElt h3:before{
	display: block;
	position: absolute;
	content: '';
	background-color: white;
  background-size: 2em 2em;
  background-repeat: no-repeat;
  background-position: center;
	width: 3em;
	height: 3em;
	margin-left: 2em;
	margin-top: -0.5em;
	border-radius: 50%;
}

h3.skills:before{
	background-image: url(imgs/skills.png);
}

h3.languages:before{
  background-image: url(imgs/languages.png);
}

#careerSummary article.contact{
  padding: 2em 1em;
  background-color: #1f497d;
}

#careerSummary article.contact:before{
  content: 'Contact';
  display: block;
  position: absolute;
  background-color: white;
  border: solid 3pt #1f497d;
  border-radius: 0.2em;
  color: black;
  margin-top: -2.5em;
  margin-left: 2em;
  padding: 0.3em;
  font-size: 13pt;
}

#careerSummary article.contact ul{
  content: 'Contact';
  list-style-type: none;
  padding: 0;
}
#careerSummary article.contact {
  line-height: 1.5em;
}

/* PROGRESS SIMULATION START */
.meter { 
  margin: 0.5em;
	height: 10px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 5px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
/* PROGRESS SIMULATION END */

/*
#careerSummary h3:before{
  display: block;
  position: absolute;
  content:'';
  width: 3em;
  height: 3em;
  background-color: white;
}*/

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
  }